In [1]:
# Import Relevant Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [2]:
# Loading Dataset
df = pd.read_csv('diabetes.csv')

In [3]:
# Display Column Heads alongwidth first five rows in CSV File
display(df.head())

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,0,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,0,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4

In [7]:
# Display Column Heads alongwith last five rows in CSV File
display(df.tail())

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
253675,0,1,1,1,45,0,0,0,0,1,...,1,0,3,0,5,0,1,5,6,7
253676,2,1,1,1,18,0,0,0,0,0,...,1,0,4,0,0,1,0,11,2,4
253677,0,0,0,1,28,0,0,0,1,1,...,1,0,1,0,0,0,0,2,5,2
253678,0,1,0,1,23,0,0,0,0,1,...,1,0,3,0,0,0,1,7,5,1
253679,2,1,1,1,25,0,0,1,1,1,...,1,0,2,0,0,0,0,9,6,2

In [9]:
# Display Column Heads alongwith ten random rows in CSV File
display(df.sample(10))

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
118170,0,0,0,1,17,0,0,0,1,1,...,1,0,1,0,0,0,0,5,6,8
251563,0,0,0,1,26,0,0,0,0,0,...,1,0,4,0,7,0,1,6,4,3
24610,0,1,1,1,26,1,0,0,1,1,...,1,0,3,1,3,0,0,10,6,5
171940,0,0,1,1,23,0,0,0,1,1,...,1,0,2,0,1,0,0,8,5,8
110897,0,0,0,0,33,0,0,0,0,1,...,1,0,3,0,0,1,1,9,4,5
7653,0,0,0,1,23,1,0,0,0,1,...,1,0,2,0,0,0,1,10,6,6
71190,0,0,1,1,29,0,0,0,1,0,...,1,0,2,0,0,0,0,10,4,8
215316,0,0,0,0,27,0,0,0,1,1,...,1,0,2,0,3,0,1,11,6,7
88379,0,0,1,1,31,1,0,0,1,1,...,1,0,1,7,14,0,0,4,6,1
106933,0,1,0,1,21,0,0,0,1,1,...,1,0,2,0,0,0,0,13,6,8

In [11]:
# Finding number of rows and column
df.shape

(253680, 22)

In [13]:
# Description of Dataset 
df.describe()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [15]:
# Check Data correctness by finding null values
null_values_count = df.isnull().sum()
null_values_count

Diabetes                0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [17]:
# Checking duplicate rows for data consistancy

duplicate_data_sum = df.duplicated().sum()
print ("Number of Duplicate rows: ", duplicate_data_sum)

Number of Duplicate rows:  23899

In [19]:
# Showing duplicate rows for data consistancy

duplicate_data = df.duplicated()
print ("Print Duplicate rows: ")
print (df[duplicate_data])

Print Duplicate rows:
        Diabetes  HighBP  HighChol  CholCheck  BMI  Smoker  Stroke  \
1242           2       1         1          1   27       1       0
1563           0       0         0          1   21       1       0
2700           0       0         0          1   32       0       0
3160           0       0         0          1   21       0       0
3332           0       0         0          1   24       0       0
...          ...     ...       ...        ...  ...     ...     ...
253492         2       1         1          1   33       0       0
253550         0       0         0          1   25       0       0
253563         0       0         1          1   24       1       0
253597         0       0         0          1   24       0       0
253638         0       0         0          1   24       0       0

        HeartDiseaseorAttack  PhysActivity  Fruits  ...  AnyHealthcare  \
1242                       0             0       0  ...              1
1563                       0             1       1  ...              1
2700                       0             1       1  ...              1
3160                       0             1       1  ...              1
3332                       0             1       1  ...              1
...                      ...           ...     ...  ...            ...
253492                     0             1       1  ...              1
253550                     0             1       1  ...              1
253563                     0             1       1  ...              1
253597                     0             1       1  ...              1
253638                     0             1       1  ...              1

        NoDocbcCost  GenHlth  MentHlth  PhysHlth  DiffWalk  Sex  Age  \
1242              0        5         0        30         1    0   10
1563              0        1         0         0         0    0    4
2700              0        2         0         0         0    0    5
3160              0        1         0         0         0    0    4
3332              0        1         0         0         0    1    9
...             ...      ...       ...       ...       ...  ...  ...
253492            0        3         0         0         0    1    9
253550            0        1         0         0         0    0    7
253563            0        2         0         0         0    1    8
253597            0        2         0         0         0    0    5
253638            0        2         0         0         0    1    1

        Education  Income
1242            4       5
1563            6       8
2700            6       8
3160            6       8
3332            6       8
...           ...     ...
253492          6       6
253550          6       8
253563          6       8
253597          6       8
253638          4       6

[23899 rows x 22 columns]

In [21]:
# Droping duplicate rows for data consistancy and update dataframe df as well

df = df.drop_duplicates()

In [23]:
# Finding number of rows and column after droping duplicate rows
df.shape

(229781, 22)

In [25]:
# Checking again for duplicate rows

duplicate_data_sum = df.duplicated().sum()
print ("Number of Duplicate rows: ", duplicate_data_sum)

Number of Duplicate rows:  0

In [27]:
# Looking at Target Column ('Diabetes') for distinct values

print(df['Diabetes'].value_counts())

Diabetes
0    190055
2     35097
1      4629
Name: count, dtype: int64

In [29]:
# Decode Diabetes Column

pd.set_option('future.no_silent_downcasting', True)
df['Diabetes'] = df['Diabetes'].replace({0: 'Non-Diabetic', 1: 'Pre-Diabetic', 2: 'Diabetic'})
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Non-Diabetic,1,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,Non-Diabetic,0,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,Non-Diabetic,1,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,Non-Diabetic,1,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,Non-Diabetic,1,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4

In [31]:
# Decode High Blood Pressure Column with random values 110 - 220. 110 - 130 Normal and 131 - 220 high BP

pd.set_option('future.no_silent_downcasting', True)
df["HighBP"] = df["HighBP"].apply(lambda x: np.random.randint(110, 130) if x == 0 else np.random.randint(131, 220))
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Non-Diabetic,215,1,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,Non-Diabetic,119,0,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,Non-Diabetic,157,1,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,Non-Diabetic,136,0,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,Non-Diabetic,142,1,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4

In [32]:
# Decode High Colestrol Column with random values 120 - 400. 120 - 200 Normal and 201 - 400 high Cholestrol

pd.set_option('future.no_silent_downcasting', True)
df["HighChol"] = df["HighChol"].apply(lambda x: np.random.randint(120, 201) if x == 0 else np.random.randint(201, 401))
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4

In [33]:
# Decode HvyAlcoholConsump.. Normal 1 to 10 drinks 

df.rename(columns={'HvyAlcoholConsump': 'AlcoholConsump'}, inplace=True)
pd.set_option('future.no_silent_downcasting', True)
df["AlcoholConsump"] = df["AlcoholConsump"].apply(lambda x: np.random.randint(0, 10) if x == 0 else np.random.randint(11, 20))
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4

In [35]:
# Rename column name- Have any kind of health care coverage, including health insurance, prepaid plans such as HMO, etc. 0 = no 1 = yes


df.rename(columns={'AnyHealthcare': 'HealthCoverage'}, inplace=True)
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,HealthCoverage,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,1,0,5,18,15,1,0,9,4,3
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,0,1,3,0,0,0,0,7,6,1
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,1,1,5,30,30,1,0,9,4,8
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,1,0,2,0,0,0,0,11,3,6
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,1,0,2,3,0,0,0,11,5,4

In [36]:
# Drop Column NoDocbcCost

df = df.drop('NoDocbcCost', axis=1)
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AlcoholConsump,HealthCoverage,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,0,1,5,18,15,1,0,9,4,3
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,9,0,3,0,0,0,0,7,6,1
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,6,1,5,30,30,1,0,9,4,8
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,7,1,2,0,0,0,0,11,3,6
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,2,1,2,3,0,0,0,11,5,4

In [38]:
# Decode Would you say that in general your health is: scale 1-5 1 = excellent 2 = very good 3 = good 4 = fair 5 = poor

pd.set_option('future.no_silent_downcasting', True)
df['GenHlth'] = df['GenHlth'].replace({5: 'Excellent', 4: 'Very Good', 3: 'Good', 2: 'Fair', 1: 'Poor'})
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AlcoholConsump,HealthCoverage,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,0,1,Excellent,18,15,1,0,9,4,3
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,9,0,Good,0,0,0,0,7,6,1
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,6,1,Excellent,30,30,1,0,9,4,8
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,7,1,Fair,0,0,0,0,11,3,6
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,2,1,Fair,3,0,0,0,11,5,4

In [43]:
# Decode Do you have serious difficulty walking or climbing stairs? 0 = no 1 = yes

pd.set_option('future.no_silent_downcasting', True)
df["DiffWalk"] = df["DiffWalk"].replace({0:'No Difficulty', 1:'Face Difficulty'})
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AlcoholConsump,HealthCoverage,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,0,1,Excellent,18,15,Face Difficulty,0,9,4,3
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,9,0,Good,0,0,No Difficulty,0,7,6,1
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,6,1,Excellent,30,30,Face Difficulty,0,9,4,8
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,7,1,Fair,0,0,No Difficulty,0,11,3,6
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,2,1,Fair,3,0,No Difficulty,0,11,5,4

In [45]:
# Decode Do you have serious difficulty walking or climbing stairs? 0 = no 1 = yes

df.rename(columns={'Sex': 'Gender'}, inplace=True)
pd.set_option('future.no_silent_downcasting', True)
df["Gender"] = df["Gender"].replace({0:'Female', 1:'Male'})
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AlcoholConsump,HealthCoverage,GenHlth,MentHlth,PhysHlth,DiffWalk,Gender,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,0,1,Excellent,18,15,Face Difficulty,Female,9,4,3
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,9,0,Good,0,0,No Difficulty,Female,7,6,1
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,6,1,Excellent,30,30,Face Difficulty,Female,9,4,8
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,7,1,Fair,0,0,No Difficulty,Female,11,3,6
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,2,1,Fair,3,0,No Difficulty,Female,11,5,4

In [47]:
# Decode Age column by randomly assigning any value within the ranges defined in the dataset description

pd.set_option('future.no_silent_downcasting', True)

# Function to generate random age based on the age category 
def generate_random_age(age_category): 
    if age_category == 1: 
        return random.randint(18, 24) 
    elif age_category == 2: 
        return random.randint(25, 29) 
    elif age_category == 3: 
        return random.randint(30, 34) 
    elif age_category == 4: 
        return random.randint(35, 39) 
    elif age_category == 5: 
        return random.randint(40, 44) 
    elif age_category == 6: 
        return random.randint(45, 49) 
    elif age_category == 7: 
        return random.randint(50, 54) 
    elif age_category == 8: 
        return random.randint(55, 59) 
    elif age_category == 9: 
        return random.randint(60, 64) 
    elif age_category == 10: 
        return random.randint(65, 69) 
    elif age_category == 11: 
        return random.randint(70, 74)
    elif age_category == 12: 
        return random.randint(75, 79)
    elif age_category == 13: 
        return random.randint(80, 98)
    else: return None 

# Apply the function to the DataFrame column 
df['Age'] = df['Age'].apply(generate_random_age)
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AlcoholConsump,HealthCoverage,GenHlth,MentHlth,PhysHlth,DiffWalk,Gender,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,0,1,Excellent,18,15,Face Difficulty,Female,63,4,3
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,9,0,Good,0,0,No Difficulty,Female,53,6,1
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,6,1,Excellent,30,30,Face Difficulty,Female,63,4,8
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,7,1,Fair,0,0,No Difficulty,Female,72,3,6
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,2,1,Fair,3,0,No Difficulty,Female,70,5,4

In [49]:
# Decode Education column by randomly assigning any value within the ranges defined in the dataset description

pd.set_option('future.no_silent_downcasting', True)

# Function to generate random age based on the age category 
def generate_Education(edu_category): 
    if edu_category == 1: 
        return "Never attended School" 
    elif edu_category == 2: 
        return "Elementary Education" 
    elif edu_category == 3: 
        return "High School" 
    elif edu_category == 4: 
        return "High School Graduate" 
    elif edu_category == 5: 
        return "Technical College" 
    elif edu_category == 6: 
        return "College Graduate" 
    else: return None 

# Apply the function to the DataFrame column 
df['Education'] = df['Education'].apply(generate_Education)
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AlcoholConsump,HealthCoverage,GenHlth,MentHlth,PhysHlth,DiffWalk,Gender,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,0,1,Excellent,18,15,Face Difficulty,Female,63,High School Graduate,3
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,9,0,Good,0,0,No Difficulty,Female,53,College Graduate,1
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,6,1,Excellent,30,30,Face Difficulty,Female,63,High School Graduate,8
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,7,1,Fair,0,0,No Difficulty,Female,72,High School,6
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,2,1,Fair,3,0,No Difficulty,Female,70,Technical College,4

In [51]:
# Decode Income column by randomly assigning any value within the ranges defined in the dataset description

pd.set_option('future.no_silent_downcasting', True)

# Function to generate random age based on the age category 
def generate_random_income(income_category): 
    if income_category == 1: 
        return random.randint(5000, 9999) 
    elif income_category == 2: 
        return random.randint(10000, 15999) 
    elif income_category == 3: 
        return random.randint(16000, 21999) 
    elif income_category == 4: 
        return random.randint(22000, 27999) 
    elif income_category == 5: 
        return random.randint(28000, 34999) 
    elif income_category == 6: 
        return random.randint(35000, 54999) 
    elif income_category == 7: 
        return random.randint(55000, 74999) 
    elif income_category == 8: 
        return random.randint(75000, 100000) 
    else: return None 

# Apply the function to the DataFrame column 
df['Income'] = df['Income'].apply(generate_random_income)
df.head()

,Diabetes,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AlcoholConsump,HealthCoverage,GenHlth,MentHlth,PhysHlth,DiffWalk,Gender,Age,Education,Income
0,Non-Diabetic,215,374,1,40,1,0,0,0,0,...,0,1,Excellent,18,15,Face Difficulty,Female,63,High School Graduate,18673
1,Non-Diabetic,119,198,0,25,1,0,0,1,0,...,9,0,Good,0,0,No Difficulty,Female,53,College Graduate,7555
2,Non-Diabetic,157,268,1,28,0,0,0,0,1,...,6,1,Excellent,30,30,Face Difficulty,Female,63,High School Graduate,87242
3,Non-Diabetic,136,164,1,27,0,0,0,1,1,...,7,1,Fair,0,0,No Difficulty,Female,72,High School,42207
4,Non-Diabetic,142,327,1,24,0,0,0,1,1,...,2,1,Fair,3,0,No Difficulty,Female,70,Technical College,23034

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 229781 entries, 0 to 253679
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes              229781 non-null  object
 1   HighBP                229781 non-null  int64
 2   HighChol              229781 non-null  int64
 3   CholCheck             229781 non-null  int64
 4   BMI                   229781 non-null  int64
 5   Smoker                229781 non-null  int64
 6   Stroke                229781 non-null  int64
 7   HeartDiseaseorAttack  229781 non-null  int64
 8   PhysActivity          229781 non-null  int64
 9   Fruits                229781 non-null  int64
 10  Veggies               229781 non-null  int64
 11  AlcoholConsump        229781 non-null  int64
 12  HealthCoverage        229781 non-null  int64
 13  GenHlth               229781 non-null  object
 14  MentHlth              229781 non-null  int64
 15  PhysHlth              229781 non-null  int64
 16  DiffWalk              229781 non-null  object
 17  Gender                229781 non-null  object
 18  Age                   229781 non-null  int64
 19  Education             229781 non-null  object
 20  Income                229781 non-null  int64
dtypes: int64(16), object(5)
memory usage: 38.6+ MB

In [55]:
# Write the DataFrame to a CSV file

df.to_csv('diabetes_modif.csv', index=False)